/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); */

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"); */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: rgb(36, 34, 37);
}

.header-container {
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-left: 10em; */
  /* height: 2vh; */
  /* margin : 0; */
  /* padding: 0; */
}

header ul{
  list-style-type: none;
  padding: 0;
}

header a {
  text-decoration: none;
  color: blanchedalmond;
  font-size: 1.5vw;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

header img {
  height: auto;
  width: 3vw;
}

.search-bar {
  position: relative;
  margin-left: 4vw;
  display: flex;
  /* align-items: center; */
}

.search-bar input {
  border: green;
  border-radius: 1rem;
  padding-left: 2em;
  margin: 0px;
  height: 3.5vw;
  width: 50vw;
  font-size: 2vw;
  /* background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent; */
  /* position: absolute; */
  /* z-index: 1; */
  /* left: 0px; */
}

.search-bar i {
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 5px; /* Adjust the value based on the desired spacing from the right side */
  transform: translateY(-50%);

}

.nav-account img {
  width: 3vw;
  height: auto;
}

.nav-setting img {
  width: 3vw;
  height: auto;
}

.header-container ul {
  list-style-type: none;
}

.content-container {
  height: 85vh;
  background-color: aliceblue;
  margin: 0% 4% 0% 13%;
  padding: .5% 1%;
  border-radius: 1%;

}

.other-header-content {
  display: flex;
  align-items: end;
}




@media screen and (max-width: 300px) {
  /* Styles for screens 600px wide or narrower */
  .search-bar input {
    font-size: 1.5vw;
  }
}